@import '//fonts.googleapis.com/css?family=Lato:400,400italic|Arvo:700,400,400italic';

body {
    
    margin: 10px;
    padding: 0;
    font: 15px/1.5 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: normal;
  text-rendering: optimizelegibility;
}

h1 {

    color: #613C16;
    font-size: 36px;
    font-weight: bold;
}

h2, h2 a {
    color: #613C16;
}

h3, h3 a {

  color: #999966;
}

a {
  color: #0388A6;
}



/** start style **/



footer {

  border-top: 1px solid;
  text-decoration: none;

}

p {

  font-size: 1.25em;
}


.clear {

  clear: both;
}

